@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #090909 16.62%, #085783 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-logo {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap:  32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px
}

.conteudo {
margin-bottom: 48px;
border-top: 0.4px solid #FFFFFF;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.conteudo-principal-escrito-botao {
    background-color: #FFFFFF;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(68, 134, 200, 0.25);
}

.conteudo-principal-imagem {
    height: 400px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFFFFF;
}

.rodape-imagem {
    height: 20px;
    display: block;
    margin: 0 auto;

}

/* COMANDOS */

.cabecalhoCMD {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 70px;
}

.conteudo-principal-cmd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    color: #FFFFFF;
}

.conteudo-cmds-slash {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
}

.cmd-adm {
    color: #FFFFFF;   
    display: flex; 
    padding: 24px;
    /* align-items: center;
    justify-content: flex-start;  */
    flex-direction: row; 
}

.linha{
    display: flex;
    flex-flow: row wrap;
    }

.coluna-50 {
    width: 624px;
}

.cmd-adm-titulo {
    font-size: 34px;
    padding: 0px 0px 24px;
}

.cont-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}





