@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #090909 16.62%, #085783 85.61%);
}

.cabecalho-menu {
    display: flex;
    gap:  32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFFFFF;
    }    

.cabecalhoCMD {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 70px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFFFFF;
}

.rodape-imagem {
    height: 20px;
    display: block;
    margin: 0 auto;

}


.gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 545px;
}

p{
    color: #FFFFFF;
    font-size: 30px;
    width: 1160px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}